@{
    Layout = "_Layout";
}

<div class = "well">
   <h2><strong>@Model.GetName() Details</strong></h2>
   <h3>NAME: @Model.GetName()</h3>
   <h3>EMAIL: @Model.GetEmail()</h3>
   <h3>PHONE: @Model.GetPhone()</h3>
   <h3>STYLIST: <a href="/stylists/@Model.GetStylist().GetId()">@Model.GetStylist().GetName()</a></h3>
</div>

<button class="btn btn-default" type="button"><a href='/clients'>BACK TO ALL CLIENTS</a></button>
<button class="btn btn-default" type="button"><a href='/clients/update/@Model.GetId()'>UPDATE CLIENT INFORMATION</a></button>
<button class="btn btn-default"><a href="/">HOME</a></button>
<button class="btn btn-default"><a href='/clients/delete/@Model.GetId()'>DELETE</a></button>